<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risk.riskmanage.system.mapper.DepartmentMapper">

     <resultMap type="department" id="deptMap">
	     <id column="id" property="id"/>    
	     <result column="org_name" property="deptName"/>    
	     <result column="org_code" property="deptCode"/>    
	     <result column="status" property="status"/>
	     <result column="updateTime" property="updateTime"/>         
     </resultMap>
	
	<select id="selectByExample" parameterType="department"  resultType="department">
		 SELECT 
		   id,org_name as deptName,org_code as deptCode,status,
		   date_format(updateTime,'%Y-%m-%d %T') as updateTime
		 FROM
		   manager_organization
		  <trim prefix="where">
		     status=1
			 <if test="id != null">
			  and id = #{id}
			 </if>
			 <if test="deptName != null and deptName !=''">
			  and org_name like CONCAT('%',TRIM('${deptName}'),'%' ) 
			 </if>	
			 <if test="deptCode != null and deptCode !=''">
			  and org_code like CONCAT('%',TRIM('${deptCode}'),'%' ) 
			 </if>			    
		  </trim>
		   ORDER BY updateTime desc
		 <if test="curRow !=null ">
		  limit #{curRow},#{rows}
		 </if>
		 
	</select>
	
	<select id="countByExample"   parameterType="department" resultType="java.lang.Integer" >
         SELECT 
             COUNT(id) 
         FROM  
             manager_organization 
        where 
            status=1
          <if test="id != null">
			  and id = #{id}
		  </if>
		  <if test="deptName != null and deptName !=''">
			  and org_name like CONCAT('%',TRIM('${deptName}'),'%' ) 
		  </if>	
		  <if test="deptCode != null and deptCode !=''">
			  and org_code like CONCAT('%',TRIM('${deptCode}'),'%' ) 
		  </if>
	</select>
	
	<insert id="insertSelective" parameterType="department"  >
	   INSERT INTO 
	       manager_organization
	    <trim prefix="(" suffix=")">
	        <if test="deptName != null">
	           org_name,
	        </if> 
	        <if test="deptCode != null">
	           org_code,
	        </if>
	           status,
	         updateTime
	    </trim>
	    values
	     <trim prefix="(" suffix=")">
	        <if test="deptName != null">
	           #{deptName},
	        </if> 
	        <if test="deptCode != null">
	           #{deptCode},
	        </if>
	           1,
	           now()
	    </trim>
	</insert>
	
    <select id="isExist"  parameterType="department" resultType="java.lang.Integer" >
         SELECT 
            COUNT(id) 
         FROM 
            manager_organization
         <trim prefix="where">
               status=1
             <if test="id != null">
               and id != #{id}
             </if>
			 <if test="deptName != null">
			   and  org_name = #{deptName}
			 </if>	
			 <if test="deptCode != null">
			   and  org_code = #{deptCode}
			 </if>			 	    
		  </trim>   
	</select>
	
	<update id="updateByPrimaryKeySelective" parameterType="department" >
	   UPDATE  manager_organization SET 
		   <if test="deptName != null">
		     org_name = #{deptName}
		   </if>
		   <if test="deptCode != null">
		     ,org_code = #{deptCode}
		   </if>
		   ,updateTime = now()
	   WHERE
	         status=1
	        <if test="id != null">
	          and id = #{id}
	        </if>	   
	</update>
	
	<delete id="deleteDept" parameterType="java.lang.Integer" >
	   UPDATE  manager_organization SET
	     status=-1
	   WHERE
	      id
	    IN 
       <foreach collection="array" item="deletIds"  open="(" separator="," close=")">  
          #{deletIds}  
     </foreach> 
	</delete>
		
</mapper>